* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
body {
	
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	background: #5A3F37;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	padding: 4em 2em;
	width: 100%;
	.form-box {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
		input, textarea{
			padding: 1em;
		}
	}
	h1 {
		margin-bottom: 1em;
		font-size: 2rem;
		text-align: center;
	}
	input,
	textarea {
		padding: 1em;
		margin-bottom: 0.7em;
		height: 2.5em;
		border: 1px solid rgb(175, 174, 174);
		border-radius: 5px;
	}
	textarea {
		width: 100%;
		height: 100%;
		max-width: 100%;
		min-height: 30px;
	}
	label {
		margin-bottom: 0.7em;
		font-size: 1.4rem;
	}
	.buttons {
		display: flex;
		justify-content: center;
		flex-direction: row-reverse;
		.btn {
			margin: 0 0.5em;
			background-color: #22cc1c;
			border: none;
			border-radius: 5px;
			padding: 0.5em 1em;
			color: white;
			cursor: pointer;
			transition: background-color 0.2s;
			&:hover {
				background-color: #1ca717;
			}
		}
	}
}


.form-box.error input {
	border: 1px solid #1ca717;
	background-color: rgba(0, 250, 83, 0.1);
}
.form-box.error textarea {
	border: 1px solid #1ca717;
	background-color: rgba(0, 250, 83, 0.1);
}
.form-box .error-text {
	margin: 5px 0 0 10px;
	font-size: 14px;
	color: #dd1212;
	visibility: hidden;
}
.form-box.error .error-text {
	visibility: visible;
}
.map {
	margin: 0 auto;
	margin-top: 2em;
	width: 100%;
	max-width: 1200px;

	iframe {
		max-width: 1200px;
		width: 100%;
	}
}
form {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 4em;
	width: 100%;
	border: 1px solid white;
	padding: 1em;
	border-radius: 15px;
	background-color: white;
	::placeholder {
		text-align: center;
	}
}
.footer{
	&__box{
display: flex;
justify-content: center;align-items: center;
flex-direction: column;
	}
}


















@media (min-width: 350px) {
	.wrapper {
		h1 {
			font-size: 2.5rem;
		}
		label {
			font-size: 1.7rem;
		}
		.buttons {
			.btn {
				padding: 1em 2em;
			}
		}
	}
}
@media (min-width: 576px) {
	.wrapper {
		h1 {
			font-size: 3rem;
		}
		label {
			font-size: 2rem;
		}
		input,
		textarea {
			font-size: 1.5rem;
		}
		.buttons {
			.btn {
				font-size: 1.5rem;
			}
		}
	}
}
@media (min-width: 768px) {
	.arrow-back{
		font-size: 4rem;
	}
	.wrapper {
		h1 {
			font-size: 3.5rem;
		}
		label {
			font-size: 2.3rem;
		}
		input,
		textarea {
			font-size: 1.8rem;
		}
		.buttons {
			.btn {
				font-size: 1.6rem;
			}
		}
	}
	
}
@media (min-width: 992px) {
	.wrapper {
		h1 {
			font-size: 3rem;
		}
		label {
			font-size: 2rem;
		}
		input,
		textarea {
			font-size: 1.5rem;
		}
	}
	
}

